<!-- <nav *ngIf='!_authService.loged()' class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/globalchat" *ngIf='!_authService.loged()'>Global Chat</a>
  <a class="navbar-brand" style="cursor:pointer" *ngIf='_authService.loged()' routerLink="/main">Main Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"  *ngIf='_authService.loged()' routerLink="/mapfinder">Map</a>
        
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" *ngIf='!_authService.loged()' routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf='!_authService.loged()' routerLink="/register" routerLinkActive="active">Register</a>
    </ul>
  </div>

</nav> -->

<nav *ngIf='!_authService.loged()'>
  <div class="menu-list">
      <div class="menu-list--left">
          <a routerLink="/globalchat"><button mat-button class="button--color__white">Global Chat</button></a>

          <!-- Przycisk poniżej do usunięcia 
          <button (click)="login('5b712e9b-211d-4c0c-80b9-854df683e4e7')">Zaloguj się</button>-->
      </div>
      <div class="menu-list--right">
        <!-- <img src="#" alt="profile photo"> -->
        <a routerLink="/search"><button mat-button class="button--color__white">Szukaj znajomych</button></a>
        <a routerLink="/login"><button mat-button class="button--color__white">Login</button></a>
        <a routerLink="/register"><button mat-button class="button--color__white">Register</button></a>
      </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

</div>
