.login-container{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 20px;
    width: 70%;

}
.login-form-1{
    padding: 5%;

    overflow-y:scroll;
     overflow-x:hidden;
      height:350px;

}
.login-container h2{
    text-align: center;
    color: #333;
}
.btnSubmit
{
    margin-top: 10px;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-container .btnSubmit{
    font-weight: 500;
    color: #fff;
    background-color: #0062cc;
    margin-bottom: 10px;
}
.form-control{
    margin-top: 10px;
}
.login-form-1 .mess{
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.login-form-1 .messCont{
    white-space: normal !important;
    word-wrap: break-word;
}